openapi: 3.0.3
info:
  title: USTAPRO / SOZO Platform API
  version: 0.1.0
  description: |
    Контракт API платформы USTAPRO (Ташкент, ремонтно-сервисная платформа).
    Скелет для параллельной разработки фронтенда и бэкенда (монолит + PostgreSQL).

    Принципы:
    - Все изменения статуса заявки — только через POST /orders/{id}/transitions;
      недопустимый переход возвращает 409 с машиночитаемым кодом (PRD-05, раздел 1).
    - Суммы везде в тийинах (BIGINT, 1 сум = 100 тийин), поле `*_tiyin`.
    - Идемпотентность мобильных операций мастера — заголовок/поле `client_op_uuid`.
    - Аутентификация — JWT Bearer (access 15 мин / refresh 30 дней), вход по OTP-SMS.
    - Доменные события (order.*, billing.*, pricelist.release_activated) публикуются
      во внутреннюю шину; см. x-events в конце файла.
servers:
  - url: https://api.sozo.uz/v1
    description: Продакшн (домен sozo.uz — DEV-05 п.3; при смене бренда по итогам нейминга заменить единожды здесь)
  - url: https://staging-api.sozo.uz/v1
    description: Стейджинг

tags:
  - name: auth
    description: Аутентификация по OTP и выбор контекста роли
  - name: orders
    description: Заявки — центральная сущность (клиент, сотрудник точки, руководитель)
  - name: masters
    description: Приложение мастера (смена, лента, офферы, кошелёк, офлайн-синк)
  - name: dispatch
    description: Панель диспетчера (канбан, карта, задачи-звонки, замены)
  - name: admin
    description: Админ-панель (релизы прайса, организации, лиды, лояльность, выплаты)
  - name: billing
    description: Биллинг (СФ, проводки read-only, вебхуки провайдеров)
  - name: public
    description: Публичный API без аутентификации (лендинг, веб-карточка, проверка мастера)

security:
  - bearerAuth: []

paths:
  # ============================================================
  # AUTH
  # ============================================================
  /auth/request-otp:
    post:
      tags: [auth]
      operationId: requestOtp
      summary: Запросить OTP-код по SMS
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [phone]
              properties:
                phone:
                  type: string
                  pattern: '^\+998\d{9}$'
                  example: '+998901234567'
      responses:
        '200':
          description: Код отправлен (rate limit — 3 запроса / 10 мин на номер)
          content:
            application/json:
              schema:
                type: object
                properties:
                  request_id: { type: string, format: uuid }
                  retry_after_sec: { type: integer, example: 60 }
        '429':
          $ref: '#/components/responses/RateLimited'

  /auth/verify:
    post:
      tags: [auth]
      operationId: verifyOtp
      summary: Подтвердить OTP и получить пару токенов
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [request_id, code]
              properties:
                request_id: { type: string, format: uuid }
                code: { type: string, example: '482913' }
      responses:
        '200':
          description: Успешный вход; если ролей несколько — требуется выбор контекста
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/refresh:
    post:
      tags: [auth]
      operationId: refreshToken
      summary: Обновить access-токен по refresh-токену
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token: { type: string }
      responses:
        '200':
          description: Новая пара токенов (ротация refresh)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/contexts:
    get:
      tags: [auth]
      operationId: listContexts
      summary: Список доступных контекстов роли пользователя
      description: >
        Роль — свойство аккаунта; один человек может быть руководителем точки
        и сотрудником другой. Клиент выбирает контекст, затем вызывает select.
      responses:
        '200':
          description: Контексты
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RoleContext'
    post:
      tags: [auth]
      operationId: selectContext
      summary: Выбрать активный контекст (перевыпуск access-токена с ролью)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [context_id]
              properties:
                context_id: { type: string, format: uuid }
      responses:
        '200':
          description: Токен с выбранным контекстом
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenPair'

  # ============================================================
  # ORDERS
  # ============================================================
  /orders:
    post:
      tags: [orders]
      operationId: createOrder
      summary: Создать заявку
      description: >
        B2C — от клиента, B2B — от сотрудника/руководителя точки.
        Дубль-детект: открытая заявка той же точки/адреса и категории за 24 ч
        возвращается предупреждением в ответе. Релиз прайса фиксируется по
        правилам ТЗ 3.7 (активный / релиз договора / релиз оценки дефекта).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderCreate'
      responses:
        '201':
          description: Заявка создана (статус new)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '409':
          description: Долг блокирует создание / дубль требует подтверждения
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      tags: [orders]
      operationId: listOrders
      summary: Список заявок в текущем контексте роли
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/OrderStatus'
        - name: type
          in: query
          schema:
            $ref: '#/components/schemas/OrderType'
        - name: location_id
          in: query
          schema: { type: string, format: uuid }
        - name: date_from
          in: query
          schema: { type: string, format: date }
        - name: date_to
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: Страница заявок
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  total: { type: integer }

  /orders/{orderId}:
    parameters:
      - $ref: '#/components/parameters/OrderId'
    get:
      tags: [orders]
      operationId: getOrder
      summary: Карточка заявки (статус, сметы, фото, журнал переходов)
      responses:
        '200':
          description: Заявка
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '404':
          $ref: '#/components/responses/NotFound'

  /orders/{orderId}/transitions:
    parameters:
      - $ref: '#/components/parameters/OrderId'
    post:
      tags: [orders]
      operationId: transitionOrder
      summary: Перевести заявку по статусной машине
      description: >
        Единственная точка изменения статуса. Валидация по графу типа заявки
        (PRD-05 разд. 1.4, восемь графов). Недопустимый переход или
        невыполненные условия (нет фото «до», итог != утверждённому) — 409
        с машиночитаемым кодом. Идемпотентность — client_op_uuid.
        Конкурирующий переход (оптимистичная блокировка по version) — 409.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransitionRequest'
      responses:
        '200':
          description: Переход выполнен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'
        '409':
          $ref: '#/components/responses/StateMachineViolation'

  /orders/{orderId}/quotes:
    parameters:
      - $ref: '#/components/parameters/OrderId'
    get:
      tags: [orders]
      operationId: listQuotes
      summary: Сметы заявки (первичная, утверждённая, доп-сметы, консервация)
      responses:
        '200':
          description: Список смет
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Quote'
    post:
      tags: [orders]
      operationId: createQuote
      summary: Создать смету / доп-смету (мастер, диспетчер)
      description: >
        Доп-смета kind=additional требует фото проблемы; варианты
        «минимум/полный». Цены — только из релиза заявки.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteCreate'
      responses:
        '201':
          description: Смета создана, утверждающему отправлен push
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
        '409':
          $ref: '#/components/responses/StateMachineViolation'

  /orders/{orderId}/quotes/{quoteId}/decision:
    parameters:
      - $ref: '#/components/parameters/OrderId'
      - name: quoteId
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [orders]
      operationId: decideQuote
      summary: Утвердить или отклонить смету / доп-смету
      description: >
        B2B — руководитель в пределах порога роли (сверх порога повторной
        аутентификации — PIN/биометрия, передаётся reauth_token);
        B2C — клиент («Согласен»). Решение пишется в аудит.
        Отклонение вынужденной доп-работы порождает консервацию и дефект.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision]
              properties:
                decision:
                  type: string
                  enum: [approve, decline]
                variant:
                  type: string
                  enum: [minimal, full]
                  description: Вариант доп-сметы (минимум / полный)
                comment: { type: string }
                reauth_token:
                  type: string
                  description: Токен повторной аутентификации для сумм сверх порога
      responses:
        '200':
          description: Решение зафиксировано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
        '403':
          description: Сумма сверх порога роли утверждающего
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          $ref: '#/components/responses/StateMachineViolation'

  /orders/{orderId}/photos/upload-url:
    parameters:
      - $ref: '#/components/parameters/OrderId'
    post:
      tags: [orders]
      operationId: createPhotoUploadUrl
      summary: Получить подписанный URL для загрузки фото
      description: >
        Фото грузятся напрямую в объектное хранилище по signed URL (PUT),
        затем подтверждаются в теле перехода или отдельным запросом.
        Сервер ставит таймштамп и проверяет геометку (мягко, ±300 м).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [stage, content_type]
              properties:
                stage:
                  type: string
                  enum: [before, during, after, receipt, defect]
                  description: Этап фото (до / в процессе / после / чек / дефект)
                content_type: { type: string, example: image/jpeg }
                geo:
                  type: object
                  properties:
                    lat: { type: number }
                    lon: { type: number }
                client_op_uuid: { type: string, format: uuid }
      responses:
        '201':
          description: Подписанный URL (TTL 15 мин)
          content:
            application/json:
              schema:
                type: object
                properties:
                  photo_id: { type: string, format: uuid }
                  upload_url: { type: string, format: uri }
                  expires_at: { type: string, format: date-time }

  /orders/{orderId}/acceptance-code:
    parameters:
      - $ref: '#/components/parameters/OrderId'
    post:
      tags: [orders]
      operationId: confirmAcceptanceCode
      summary: Подтвердить приёмку работ кодом сотрудника точки
      description: >
        B2B: 4-значный код сотрудника точки при завершении. Fallback —
        «Принято без кода» (fallback=true, обязательно фото общего плана,
        флаг диспетчеру). На режимных объектах код обязателен вместо фото.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  pattern: '^\d{4}$'
                fallback:
                  type: boolean
                  default: false
                fallback_photo_id: { type: string, format: uuid }
      responses:
        '200':
          description: Приёмка зафиксирована в аудите
        '409':
          description: Неверный код (order_state/ACCEPTANCE_CODE_INVALID)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ============================================================
  # MASTERS (приложение мастера)
  # ============================================================
  /masters/me/shift:
    put:
      tags: [masters]
      operationId: toggleShift
      summary: Тумблер «на линии / не на линии»
      description: >
        Уход с линии при наличии броней — алерт диспетчеру и протокол замены.
        Превышение лимита наличного долга блокирует выход на линию (409).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [on_line]
              properties:
                on_line: { type: boolean }
      responses:
        '200':
          description: Статус смены
          content:
            application/json:
              schema:
                type: object
                properties:
                  on_line: { type: boolean }
                  active_bookings: { type: integer }
        '409':
          description: Блокировка (master/CASH_LIMIT_EXCEEDED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /masters/me/feed:
    get:
      tags: [masters]
      operationId: getMasterFeed
      summary: Лента (маршрут) мастера на день
      parameters:
        - name: date
          in: query
          schema: { type: string, format: date }
          description: По умолчанию — сегодня; D−1 черновик виден с вечера
      responses:
        '200':
          description: Лента с бронями, окнами, буферами
          content:
            application/json:
              schema:
                type: object
                properties:
                  date: { type: string, format: date }
                  zones:
                    type: array
                    items: { type: string }
                  bookings:
                    type: array
                    items:
                      $ref: '#/components/schemas/FeedBooking'

  /masters/me/offers:
    get:
      tags: [masters]
      operationId: listOffers
      summary: Активные офферы мастера
      responses:
        '200':
          description: Офферы (прямые, бродкаст, «подсобить» для парных)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Offer'

  /masters/me/offers/{offerId}/accept:
    parameters:
      - $ref: '#/components/parameters/OfferId'
    post:
      tags: [masters]
      operationId: acceptOffer
      summary: Принять оффер (заявка назначается, брони создаются)
      responses:
        '200':
          description: Оффер принят
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Offer'
        '409':
          description: Оффер истёк или заявка уже назначена (offer/ALREADY_TAKEN)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /masters/me/offers/{offerId}/decline:
    parameters:
      - $ref: '#/components/parameters/OfferId'
    post:
      tags: [masters]
      operationId: declineOffer
      summary: Отклонить оффер (причина — для аналитики распределения)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason: { type: string }
      responses:
        '200':
          description: Отклонён, оффер уходит следующему кандидату

  /masters/me/wallet:
    get:
      tags: [masters]
      operationId: getWallet
      summary: Кошелёк мастера (баланс, начисления, удержания, наличный долг)
      responses:
        '200':
          description: Баланс и последние операции
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance:
                    $ref: '#/components/schemas/MasterBalance'
                  recent_transactions:
                    type: array
                    items:
                      $ref: '#/components/schemas/WalletEntry'

  /masters/me/sync:
    post:
      tags: [masters]
      operationId: syncOfflineBatch
      summary: Батч офлайн-операций (очередь офлайн-синка)
      description: >
        Операции применяются по порядку; каждая идемпотентна по client_op_uuid.
        Конфликт (например, заявку уже перевёл диспетчер) — операция
        отклоняется с кодом, клиент показывает разрешение конфликта.
        Ответ — пооперационный, частичный успех допустим.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [operations]
              properties:
                operations:
                  type: array
                  maxItems: 200
                  items:
                    $ref: '#/components/schemas/SyncOperation'
      responses:
        '200':
          description: Результат по каждой операции
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/SyncResult'

  # ============================================================
  # DISPATCH (панель диспетчера)
  # ============================================================
  /dispatch/kanban:
    get:
      tags: [dispatch]
      operationId: getKanban
      summary: Канбан заявок по статусам (колонки = статусы 4.1)
      parameters:
        - name: zone
          in: query
          schema: { type: string }
        - name: urgency
          in: query
          schema:
            type: string
            enum: [normal, emergency]
      responses:
        '200':
          description: Колонки со счётчиками и карточками
          content:
            application/json:
              schema:
                type: object
                properties:
                  columns:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          $ref: '#/components/schemas/OrderStatus'
                        count: { type: integer }
                        orders:
                          type: array
                          items:
                            $ref: '#/components/schemas/OrderSummary'

  /dispatch/map:
    get:
      tags: [dispatch]
      operationId: getDispatchMap
      summary: Карта — мастера на линии и активные заявки по зонам
      responses:
        '200':
          description: Гео-состояние смены
          content:
            application/json:
              schema:
                type: object
                properties:
                  masters:
                    type: array
                    items:
                      type: object
                      properties:
                        master_id: { type: string, format: uuid }
                        geo:
                          type: object
                          properties:
                            lat: { type: number }
                            lon: { type: number }
                        status: { type: string }
                  orders:
                    type: array
                    items:
                      $ref: '#/components/schemas/OrderSummary'

  /dispatch/call-tasks:
    get:
      tags: [dispatch]
      operationId: listCallTasks
      summary: Очередь задач-звонков (QC, эскалации, пропущенные, дунинг)
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [open, done, overdue]
      responses:
        '200':
          description: Задачи с SLA-дедлайнами
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CallTask'

  /dispatch/call-tasks/{taskId}/complete:
    parameters:
      - name: taskId
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [dispatch]
      operationId: completeCallTask
      summary: Закрыть задачу-звонок (исход + следующий шаг → ContactLog)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [outcome]
              properties:
                outcome: { type: string }
                next_step: { type: string }
                comment: { type: string }
      responses:
        '200':
          description: Записано в ContactLog

  /dispatch/orders:
    post:
      tags: [dispatch]
      operationId: createPhoneOrder
      summary: Создать заявку по телефону (источник phone)
      description: >
        Телефонный флоу с живым планировщиком: диспетчер видит доступные окна
        (available-windows в ответе создания или отдельным запросом),
        привязывает сотрудника точки (applicant_user_id) для программы баллов.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/OrderCreate'
                - type: object
                  properties:
                    applicant_user_id:
                      type: string
                      format: uuid
                      description: Привязка сотрудника точки (D-08)
      responses:
        '201':
          description: Заявка создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Order'

  /dispatch/orders/{orderId}/replacement:
    parameters:
      - $ref: '#/components/parameters/OrderId'
    post:
      tags: [dispatch]
      operationId: replaceMaster
      summary: Протокол замены мастера (статусы 5–8, причина обязательна)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string }
                new_master_id:
                  type: string
                  format: uuid
                  description: Пусто — заявка уходит в редистрибуцию офферами
                split_pct_first:
                  type: integer
                  minimum: 0
                  maximum: 100
                  description: Раздел заявки при частичном выполнении (% первому)
      responses:
        '200':
          description: Замена запущена, история переназначений дополнена
        '409':
          $ref: '#/components/responses/StateMachineViolation'

  # ============================================================
  # ADMIN
  # ============================================================
  /admin/price-releases:
    get:
      tags: [admin]
      operationId: listPriceReleases
      summary: Список релизов прайса
      responses:
        '200':
          description: Релизы
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PriceRelease'
    post:
      tags: [admin]
      operationId: createPriceReleaseDraft
      summary: Создать черновик релиза (снапшот текущего или импорт Excel)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                comment: { type: string, example: 'сезон кондиционеров лето-2027' }
                source:
                  type: string
                  enum: [snapshot_active, excel_import, rollback_of]
                rollback_of_release_id: { type: string, format: uuid }
                import_file_id: { type: string, format: uuid }
      responses:
        '201':
          description: Черновик создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceRelease'

  /admin/price-releases/{releaseId}/diff:
    parameters:
      - $ref: '#/components/parameters/ReleaseId'
    get:
      tags: [admin]
      operationId: getPriceReleaseDiff
      summary: Diff релиза с текущим активным
      responses:
        '200':
          description: Изменённые позиции и коэффициенты
          content:
            application/json:
              schema:
                type: object
                properties:
                  changed_items_pct: { type: number }
                  max_price_change_pct: { type: number }
                  requires_second_admin:
                    type: boolean
                    description: Крупный релиз (>20% позиций или цена >30%)
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        price_item_name: { type: string }
                        old_price_tiyin: { type: integer, format: int64 }
                        new_price_tiyin: { type: integer, format: int64 }

  /admin/price-releases/{releaseId}/activate:
    parameters:
      - $ref: '#/components/parameters/ReleaseId'
    post:
      tags: [admin]
      operationId: activatePriceRelease
      summary: Запланировать активацию релиза
      description: >
        Дата активации ≥ +7 дней (уведомления мастерам), 00:00 Ташкента.
        Валидатор unit-экономики блокирует активацию при марже ниже порога.
        Крупный релиз требует подтверждения второго админа (second_admin_token).
        Существующие заявки и договоры не пересчитываются никогда.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [activates_at]
              properties:
                activates_at: { type: string, format: date }
                second_admin_token: { type: string }
      responses:
        '200':
          description: Релиз запланирован
        '409':
          description: >
            Валидация провалена (pricelist/UNIT_ECONOMICS_BELOW_THRESHOLD,
            pricelist/ACTIVATION_DATE_TOO_SOON, pricelist/SECOND_ADMIN_REQUIRED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /admin/price-releases/{releaseId}/rollback:
    parameters:
      - $ref: '#/components/parameters/ReleaseId'
    post:
      tags: [admin]
      operationId: rollbackPriceRelease
      summary: Откат — новый релиз из снапшота указанного, активация немедленно
      responses:
        '201':
          description: Релиз-откат создан и активирован (история неизменяема)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PriceRelease'

  /admin/organizations:
    get:
      tags: [admin]
      operationId: listOrganizations
      summary: Организации B2B
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: Список организаций
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
    post:
      tags: [admin]
      operationId: createOrganization
      summary: Создать организацию
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Organization'
      responses:
        '201':
          description: Создана
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'

  /admin/organizations/{orgId}/contracts:
    parameters:
      - name: orgId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [admin]
      operationId: listContracts
      summary: Договоры организации (история, текущий релиз)
      responses:
        '200':
          description: Договоры
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Contract'
    post:
      tags: [admin]
      operationId: createContract
      summary: Заключить / продлить договор
      description: >
        Договор фиксирует активный релиз прайса на дату подписания.
        Срок — годовой (цены заморожены год) или месячный (авто-продление
        с переводом на текущий релиз событием contract.renewed).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Contract'
      responses:
        '201':
          description: Договор создан
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'

  /admin/leads:
    get:
      tags: [admin]
      operationId: listLeads
      summary: Лиды с лендинга (B2B/B2C) с UTM-атрибуцией
      parameters:
        - name: kind
          in: query
          schema:
            type: string
            enum: [b2b, b2c]
        - name: status
          in: query
          schema: { type: string }
      responses:
        '200':
          description: Лиды
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Lead'

  /admin/loyalty/program:
    get:
      tags: [admin]
      operationId: getLoyaltyProgram
      summary: Параметры программы баллов персонала точек
      responses:
        '200':
          description: Настройки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoyaltyProgram'
    put:
      tags: [admin]
      operationId: updateLoyaltyProgram
      summary: Обновить параметры (процент, потолок, порог конвертации)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoyaltyProgram'
      responses:
        '200':
          description: Обновлено (в аудит)

  /admin/loyalty/voucher-pool:
    get:
      tags: [admin]
      operationId: getVoucherPool
      summary: Состояние пула подарочных ваучеров (остатки по номиналам)
      responses:
        '200':
          description: Пулы
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    pool_id: { type: string, format: uuid }
                    partner: { type: string, example: 'Korzinka' }
                    nominal_tiyin: { type: integer, format: int64 }
                    available_count: { type: integer }
    post:
      tags: [admin]
      operationId: importVouchers
      summary: Импорт закупленных кодов ваучеров в пул
      description: Закупка проводится как маркетинговый расход (проводка).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [partner, nominal_tiyin, codes]
              properties:
                partner: { type: string }
                nominal_tiyin: { type: integer, format: int64 }
                expires_at: { type: string, format: date }
                codes:
                  type: array
                  items: { type: string }
      responses:
        '201':
          description: Коды добавлены в пул
          content:
            application/json:
              schema:
                type: object
                properties:
                  imported: { type: integer }
                  duplicates: { type: integer }

  /admin/payout-registries:
    get:
      tags: [admin]
      operationId: listPayoutRegistries
      summary: Ведомости выплат мастерам (еженедельные)
      responses:
        '200':
          description: Ведомости
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PayoutRegistry'
    post:
      tags: [admin]
      operationId: buildPayoutRegistry
      summary: Сформировать ведомость за период
      description: >
        Разделяет доход (доли) и возмещения; ГПХ — с удержаниями НДФЛ/соцналога,
        самозанятым — брутто при подтверждённом статусе. Экспорт для банка.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [period_start, period_end]
              properties:
                period_start: { type: string, format: date }
                period_end: { type: string, format: date }
      responses:
        '201':
          description: Ведомость сформирована
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PayoutRegistry'

  /admin/payout-registries/{registryId}/mark-paid:
    parameters:
      - name: registryId
        in: path
        required: true
        schema: { type: string, format: uuid }
    post:
      tags: [admin]
      operationId: markRegistryPaid
      summary: Отметить ведомость выплаченной (порождает проводки выплат)
      responses:
        '200':
          description: Проводки выплат созданы

  # ============================================================
  # BILLING
  # ============================================================
  /billing/invoices:
    get:
      tags: [billing]
      operationId: listInvoices
      summary: Счета-фактуры (для бухгалтера / руководителя организации)
      parameters:
        - name: organization_id
          in: query
          schema: { type: string, format: uuid }
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, sent, paid, overdue]
      responses:
        '200':
          description: СФ
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice'

  /billing/invoices/{invoiceId}:
    parameters:
      - name: invoiceId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [billing]
      operationId: getInvoice
      summary: СФ со строками и PDF-ссылкой
      responses:
        '200':
          description: Счёт-фактура
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'

  /billing/transactions:
    get:
      tags: [billing]
      operationId: listTransactions
      summary: Проводки (read-only; правки только сторно через админ-операции)
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - name: order_id
          in: query
          schema: { type: string, format: uuid }
        - name: account_code
          in: query
          schema: { type: string }
        - name: date_from
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: Проводки двойной записи
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Transaction'

  /billing/webhooks/payme:
    post:
      tags: [billing]
      operationId: paymeWebhook
      summary: Вебхук Payme (merchant API)
      description: >
        Идемпотентность по (provider, payment_id) — повторный callback не
        создаёт вторую проводку. Вебхук по неизвестной заявке — карантинная
        очередь бухгалтеру. Аутентификация — подпись провайдера, не JWT.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentWebhook'
      responses:
        '200':
          description: Принят (формат ответа — по протоколу Payme)

  /billing/webhooks/click:
    post:
      tags: [billing]
      operationId: clickWebhook
      summary: Вебхук Click (merchant API)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentWebhook'
      responses:
        '200':
          description: Принят (формат ответа — по протоколу Click)

  # ============================================================
  # PUBLIC (без аутентификации)
  # ============================================================
  /public/prices:
    get:
      tags: [public]
      operationId: getPublicPrices
      summary: Цены «от» по категориям услуг (лендинг)
      description: >
        Из активного релиза прайса; кеш с TTL, инвалидация по событию
        pricelist.release_activated. Rate limit. Только публичные поля.
      security: []
      responses:
        '200':
          description: Категории с ценами «от»
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    category: { type: string, example: 'Сантехника' }
                    price_from_tiyin: { type: integer, format: int64 }

  /public/object-type-rates:
    get:
      tags: [public]
      operationId: getObjectTypeRates
      summary: Ставки типов объектов для калькулятора абонентки B2B
      security: []
      responses:
        '200':
          description: Ставки
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    object_type: { type: string, example: 'аптека' }
                    base_rate_tiyin: { type: integer, format: int64 }

  /public/leads:
    post:
      tags: [public]
      operationId: submitLead
      summary: Отправить лид с лендинга (B2B или B2C вне зоны покрытия)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LeadCreate'
      responses:
        '201':
          description: Лид принят, диспетчеру создана задача-звонок
        '429':
          $ref: '#/components/responses/RateLimited'

  /public/master-verify/{code}:
    get:
      tags: [public]
      operationId: verifyMaster
      summary: Проверка мастера по коду с бейджа (анти-мошенничество)
      security: []
      parameters:
        - name: code
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: Публичная карточка мастера
          content:
            application/json:
              schema:
                type: object
                properties:
                  full_name: { type: string }
                  photo_url: { type: string, format: uri }
                  is_active_today: { type: boolean }
                  rating: { type: number }
        '404':
          $ref: '#/components/responses/NotFound'

  /public/web-card/{token}:
    parameters:
      - $ref: '#/components/parameters/WebCardToken'
    get:
      tags: [public]
      operationId: getWebCard
      summary: Веб-карточка заявки по токену из SMS (телефонные клиенты)
      description: >
        Просмотровый токен (HMAC/JWT с jti, TTL); статус, карточка мастера,
        ETA, смета, акт с фото. Истёкший токен — 410. Закрытая заявка —
        архивный режим без действий.
      security: []
      responses:
        '200':
          description: Данные карточки
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebCard'
        '410':
          description: Ссылка устарела, запросите новую
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /public/web-card/{token}/approve-quote:
    parameters:
      - $ref: '#/components/parameters/WebCardToken'
    post:
      tags: [public]
      operationId: webCardApproveQuote
      summary: «Согласен со сметой» по одноразовому action-токену
      description: >
        Журналируется в аудит как санкция клиента (канал «веб-карточка») —
        юридический эквивалент кнопки в приложении. Повторное использование
        action-токена — отказ (идемпотентность по jti).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [quote_id]
              properties:
                quote_id: { type: string, format: uuid }
      responses:
        '200':
          description: Смета подтверждена (событие webcard.estimate_approved)
        '409':
          description: Токен уже использован (webcard/TOKEN_ALREADY_USED)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /public/web-card/{token}/pay-link:
    parameters:
      - $ref: '#/components/parameters/WebCardToken'
    post:
      tags: [public]
      operationId: webCardPayLink
      summary: Получить ссылку онлайн-оплаты (редирект на провайдера)
      security: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                provider:
                  type: string
                  enum: [payme, click]
      responses:
        '201':
          description: Платёжная ссылка (подтверждение оплаты — вебхуком)
          content:
            application/json:
              schema:
                type: object
                properties:
                  pay_url: { type: string, format: uri }
                  expires_at: { type: string, format: date-time }

  /public/web-card/{token}/rate:
    parameters:
      - $ref: '#/components/parameters/WebCardToken'
    post:
      tags: [public]
      operationId: webCardRate
      summary: Оценить работу (окно 72 часа после закрытия)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rating]
              properties:
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                comment: { type: string }
      responses:
        '200':
          description: Оценка принята (1–2 порождает тикет диспетчеру)

# ============================================================
# COMPONENTS
# ============================================================
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Access-токен, полученный через /auth/verify (+ выбор контекста роли).
        В claims: user_id, role, organization_id?, location_id?, tenant_id.

  parameters:
    OrderId:
      name: orderId
      in: path
      required: true
      schema: { type: string, format: uuid }
    OfferId:
      name: offerId
      in: path
      required: true
      schema: { type: string, format: uuid }
    ReleaseId:
      name: releaseId
      in: path
      required: true
      schema: { type: string, format: uuid }
    WebCardToken:
      name: token
      in: path
      required: true
      schema: { type: string }
      description: Подписанный токен из SMS (просмотровый или одноразовый action)
    Page:
      name: page
      in: query
      schema: { type: integer, minimum: 1, default: 1 }
    PerPage:
      name: per_page
      in: query
      schema: { type: integer, minimum: 1, maximum: 100, default: 25 }

  responses:
    Unauthorized:
      description: Не аутентифицирован / токен истёк
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Ресурс не найден (или недоступен в текущем контексте роли)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Превышен лимит запросов
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    StateMachineViolation:
      description: >
        Нарушение статусной машины или её условий. Машиночитаемые коды:
        order_state/INVALID_TRANSITION, order_state/PHOTO_BEFORE_REQUIRED,
        order_state/PHOTO_AFTER_REQUIRED, order_state/TOTAL_MISMATCH,
        order_state/APPROVAL_REQUIRED, order_state/PAYMENT_REQUIRED,
        order_state/VERSION_CONFLICT, order_state/CANCEL_REASON_REQUIRED,
        order_state/STAGE_CHAIN_NOT_CONFIRMED.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            invalidTransition:
              value:
                code: order_state/INVALID_TRANSITION
                message: 'Переход completed → assigned недопустим для типа b2c'
                details:
                  current_status: completed
                  requested_action: assign
                  allowed_actions: [verify, open_dispute]

  schemas:
    # ---------- Общие ----------
    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: 'Машиночитаемый код: домен/КОД (например order_state/INVALID_TRANSITION)'
          example: order_state/PHOTO_BEFORE_REQUIRED
        message:
          type: string
          description: Человекочитаемое сообщение на языке Accept-Language (рус/узб)
        details:
          type: object
          additionalProperties: true
          description: Контекст ошибки (текущий статус, допустимые действия и т.п.)

    TokenPair:
      type: object
      properties:
        access_token: { type: string }
        refresh_token: { type: string }
        expires_in: { type: integer, example: 900 }
        contexts_required:
          type: boolean
          description: true — у пользователя несколько ролей, нужен /auth/contexts

    RoleContext:
      type: object
      properties:
        context_id: { type: string, format: uuid }
        role:
          type: string
          enum: [client, location_employee, location_head, org_head, owner, master, dispatcher, admin, accountant]
        organization_id: { type: string, format: uuid, nullable: true }
        organization_name: { type: string, nullable: true }
        location_id: { type: string, format: uuid, nullable: true }
        location_name: { type: string, nullable: true }

    # ---------- Статусы и переходы ----------
    OrderStatus:
      type: string
      description: Статусы заявки (ТЗ 4.1) + терминальные особые
      enum:
        - new
        - estimated
        - pending_approval
        - approved
        - assigned
        - master_departed
        - in_progress
        - addwork_approval
        - completed
        - verified
        - awaiting_payment
        - closed
        - rated
        - cancelled
        - dispute
      x-russian-label:
        new: 'Новая'
        estimated: 'Оценена'
        pending_approval: 'На утверждении'
        approved: 'Утверждена'
        assigned: 'Назначена'
        master_departed: 'Мастер выехал'
        in_progress: 'В работе'
        addwork_approval: 'Доп-согласование'
        completed: 'Выполнена'
        verified: 'Проверена'
        awaiting_payment: 'Ожидает оплаты'
        closed: 'Закрыта'
        rated: 'Оценена клиентом'
        cancelled: 'Отменена'
        dispute: 'Спор'

    OrderPause:
      type: string
      description: Паузы — суб-состояния «В работе» (не отдельные статусы)
      enum: [awaiting_materials, tech_break, blocked_third_party]
      x-russian-label:
        awaiting_materials: 'Ожидание материалов'
        tech_break: 'Технологический перерыв'
        blocked_third_party: 'Заблокировано третьей стороной'

    OrderType:
      type: string
      enum: [b2c, b2b, warranty, from_defect, inspection]
      x-russian-label:
        b2c: 'B2C'
        b2b: 'B2B'
        warranty: 'Гарантийная'
        from_defect: 'Из осмотра / дефекта'
        inspection: 'Осмотр плановый'

    TransitionAction:
      type: string
      description: >
        Действие статусной машины. Допустимость проверяется по графу типа
        заявки (PRD-05 разд. 1.4); недопустимое действие — 409.
      enum:
        - estimate
        - request_approval
        - approve
        - assign
        - depart
        - start
        - confirm_estimate
        - request_addwork
        - resolve_addwork
        - pause
        - resume
        - complete_stage
        - complete
        - verify
        - return_to_work
        - await_payment
        - close
        - rate
        - cancel
        - open_dispute
        - resolve_dispute
      x-russian-label:
        estimate: 'Оценить'
        request_approval: 'Отправить на утверждение'
        approve: 'Утвердить'
        assign: 'Назначить мастера'
        depart: 'Выехал'
        start: 'Начать работу (фото «до»)'
        confirm_estimate: 'Смета подтверждена клиентом'
        request_addwork: 'Запросить доп-работы'
        resolve_addwork: 'Решение по доп-смете'
        pause: 'Пауза'
        resume: 'Возобновить'
        complete_stage: 'Этап завершён'
        complete: 'Выполнена (фото «после»)'
        verify: 'Проверена диспетчером'
        return_to_work: 'Вернуть в работу'
        await_payment: 'В ожидание оплаты (санкция)'
        close: 'Закрыть (биллинг проведён)'
        rate: 'Оценить (клиент)'
        cancel: 'Отменить'
        open_dispute: 'Открыть спор'
        resolve_dispute: 'Разрешить спор'

    TransitionRequest:
      type: object
      required: [action]
      properties:
        action:
          $ref: '#/components/schemas/TransitionAction'
        version:
          type: integer
          description: Версия заявки для оптимистичной блокировки
        client_op_uuid:
          type: string
          format: uuid
          description: Идемпотентность (обязательно для мобильных клиентов)
        reason:
          type: string
          description: Обязательно для cancel (из справочника) и return_to_work
        payload:
          type: object
          description: Данные действия (photo_ids, geo, суммы, pause_type и т.д.)
          properties:
            photo_ids:
              type: array
              items: { type: string, format: uuid }
            geo:
              type: object
              properties:
                lat: { type: number }
                lon: { type: number }
            pause_type:
              $ref: '#/components/schemas/OrderPause'
            stage_no: { type: integer }
            payment_method:
              type: string
              enum: [cash, qr, pay_link, subscription, invoice]
            cash_amount_tiyin: { type: integer, format: int64 }
            rating: { type: integer, minimum: 1, maximum: 5 }
            comment: { type: string }

    # ---------- Заявка ----------
    OrderCreate:
      type: object
      required: [type, category]
      properties:
        client_uuid:
          type: string
          format: uuid
          description: Идемпотентность создания (офлайн / ретраи)
        type:
          $ref: '#/components/schemas/OrderType'
        urgency:
          type: string
          enum: [normal, emergency]
          default: normal
        category: { type: string, example: 'santehnika' }
        location_id:
          type: string
          format: uuid
          description: B2B — точка; взаимоисключимо с address
        address:
          type: string
          description: B2C — адрес
        geo:
          type: object
          properties:
            lat: { type: number }
            lon: { type: number }
        description: { type: string }
        photo_ids:
          type: array
          maxItems: 5
          items: { type: string, format: uuid }
        desired_window:
          type: object
          properties:
            from: { type: string, format: date-time }
            to: { type: string, format: date-time }
        lines:
          type: array
          items:
            type: object
            properties:
              price_item_id: { type: string, format: uuid }
              qty: { type: number }
        defect_id:
          type: string
          format: uuid
          description: Для type=from_defect
        parent_order_id:
          type: string
          format: uuid
          description: Для type=warranty — исходная заявка
        promo_code: { type: string }

    Order:
      type: object
      properties:
        id: { type: string, format: uuid }
        number: { type: string, example: 'Z-2026-000123' }
        version: { type: integer, description: 'Для оптимистичной блокировки' }
        type:
          $ref: '#/components/schemas/OrderType'
        urgency:
          type: string
          enum: [normal, emergency]
        status:
          $ref: '#/components/schemas/OrderStatus'
        pause:
          allOf:
            - $ref: '#/components/schemas/OrderPause'
          nullable: true
        source:
          type: string
          enum: [app, phone, telegram]
        client_id: { type: string, format: uuid, nullable: true }
        location_id: { type: string, format: uuid, nullable: true }
        applicant_user_id:
          type: string
          format: uuid
          nullable: true
          description: Заявитель (программа баллов персонала точек)
        master_id: { type: string, format: uuid, nullable: true }
        price_list_release_id:
          type: string
          format: uuid
          description: Релиз прайса, зафиксированный заявкой (ТЗ 3.7)
        parent_order_id: { type: string, format: uuid, nullable: true }
        client_asset_id: { type: string, format: uuid, nullable: true }
        lines:
          type: array
          items:
            $ref: '#/components/schemas/OrderLine'
        quotes:
          type: array
          items:
            $ref: '#/components/schemas/Quote'
        assigned_window:
          type: object
          nullable: true
          properties:
            from: { type: string, format: date-time }
            to: { type: string, format: date-time }
        total_work_tiyin: { type: integer, format: int64 }
        total_material_tiyin: { type: integer, format: int64 }
        payment_channel:
          type: string
          enum: [subscription, invoice, online, cash]
          nullable: true
        warranty_days: { type: integer, example: 30 }
        allowed_actions:
          type: array
          description: Действия, допустимые из текущего статуса для текущей роли
          items:
            $ref: '#/components/schemas/TransitionAction'
        is_demo: { type: boolean }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    OrderSummary:
      type: object
      description: Краткая карточка для канбана/карты
      properties:
        id: { type: string, format: uuid }
        number: { type: string }
        status:
          $ref: '#/components/schemas/OrderStatus'
        urgency: { type: string }
        category: { type: string }
        address: { type: string }
        master_id: { type: string, format: uuid, nullable: true }
        assigned_window_from: { type: string, format: date-time, nullable: true }

    OrderLine:
      type: object
      description: Позиция заявки — копия цены на момент фиксации (иммутабельна)
      properties:
        id: { type: string, format: uuid }
        price_item_id: { type: string, format: uuid }
        name: { type: string, description: 'Копия названия позиции' }
        unit: { type: string, example: 'шт' }
        qty: { type: number }
        price_tiyin:
          type: integer
          format: int64
          description: Копия цены на момент заявки
        norm_hours: { type: number }

    Quote:
      type: object
      properties:
        id: { type: string, format: uuid }
        order_id: { type: string, format: uuid }
        kind:
          type: string
          enum: [initial, approved, additional, conservation]
          x-russian-label:
            initial: 'Первичная (вилка от–до)'
            approved: 'Утверждённая'
            additional: 'Доп-смета'
            conservation: 'Консервация'
        amount_tiyin: { type: integer, format: int64 }
        amount_to_tiyin:
          type: integer
          format: int64
          nullable: true
          description: Верх вилки для первичной B2C
        positions:
          type: array
          items:
            $ref: '#/components/schemas/OrderLine'
        photo_ids:
          type: array
          items: { type: string, format: uuid }
        approval_status:
          type: string
          enum: [pending, approved, declined, expired]
        approved_by: { type: string, format: uuid, nullable: true }
        approved_at: { type: string, format: date-time, nullable: true }

    QuoteCreate:
      type: object
      required: [kind, positions]
      properties:
        kind:
          type: string
          enum: [initial, additional, conservation]
        positions:
          type: array
          items:
            type: object
            required: [price_item_id, qty]
            properties:
              price_item_id: { type: string, format: uuid }
              qty: { type: number }
        photo_ids:
          type: array
          items: { type: string, format: uuid }
        is_forced:
          type: boolean
          description: Вынужденная доп-работа (красный флаг, таймеры 30 мин / 2 ч)
        client_op_uuid: { type: string, format: uuid }

    # ---------- Мастер ----------
    Master:
      type: object
      properties:
        user_id: { type: string, format: uuid }
        full_name: { type: string }
        photo_url: { type: string, format: uri }
        skill_tags:
          type: array
          items: { type: string, example: 'santehnika' }
        zones:
          type: array
          items: { type: string, example: 'chilanzar' }
        grade:
          type: string
          enum: [standard, gold]
          x-russian-label:
            standard: 'Стандарт'
            gold: 'Золото'
        status:
          type: string
          enum: [candidate, on_line, day_off, vacation, blocked]
        has_vehicle: { type: boolean }
        rating: { type: number, example: 4.8 }
        tax_mode:
          type: string
          enum: [self_employed, gph]

    MasterBalance:
      type: object
      properties:
        accrued_tiyin: { type: integer, format: int64 }
        reimbursed_tiyin: { type: integer, format: int64 }
        withheld_tiyin: { type: integer, format: int64 }
        cash_debt_tiyin:
          type: integer
          format: int64
          description: Принятые наличные (долг мастера; лимит — параметр)
        cash_debt_limit_tiyin: { type: integer, format: int64 }
        payable_tiyin:
          type: integer
          format: int64
          description: К выплате = начисления − удержания − наличные

    WalletEntry:
      type: object
      properties:
        id: { type: string, format: uuid }
        type: { type: string, example: 'share_accrual' }
        amount_tiyin: { type: integer, format: int64 }
        order_number: { type: string, nullable: true }
        created_at: { type: string, format: date-time }

    Offer:
      type: object
      properties:
        id: { type: string, format: uuid }
        order_id: { type: string, format: uuid }
        kind:
          type: string
          enum: [direct, broadcast, helper]
          x-russian-label:
            direct: 'Прямой'
            broadcast: 'Бродкаст'
            helper: 'Помощник (парная работа)'
        order_summary:
          $ref: '#/components/schemas/OrderSummary'
        estimated_share_tiyin:
          type: integer
          format: int64
          description: Ожидаемая доля мастера
        window:
          type: object
          properties:
            from: { type: string, format: date-time }
            to: { type: string, format: date-time }
        status:
          type: string
          enum: [sent, accepted, declined, expired]
        expires_at: { type: string, format: date-time }

    FeedBooking:
      type: object
      properties:
        booking_id: { type: string, format: uuid }
        order:
          $ref: '#/components/schemas/OrderSummary'
        window:
          type: object
          properties:
            from: { type: string, format: date-time }
            to: { type: string, format: date-time }
        travel_buffer_min: { type: integer }
        stage_no: { type: integer, nullable: true }
        is_anchor:
          type: boolean
          description: Якорная (жёсткое окно) или гибкая

    SyncOperation:
      type: object
      required: [client_op_uuid, op_type, occurred_at]
      properties:
        client_op_uuid: { type: string, format: uuid }
        op_type:
          type: string
          enum: [transition, photo_confirm, material_add, quote_create, order_create]
        occurred_at:
          type: string
          format: date-time
          description: Локальное время операции на устройстве
        order_id: { type: string, format: uuid, nullable: true }
        body:
          type: object
          description: Тело операции (совпадает со схемой соответствующего эндпоинта)

    SyncResult:
      type: object
      properties:
        client_op_uuid: { type: string, format: uuid }
        status:
          type: string
          enum: [applied, duplicate, conflict, rejected]
        error:
          allOf:
            - $ref: '#/components/schemas/Error'
          nullable: true

    # ---------- Диспетчер ----------
    CallTask:
      type: object
      properties:
        id: { type: string, format: uuid }
        trigger: { type: string, example: 'qc_low_rating' }
        order_id: { type: string, format: uuid, nullable: true }
        lead_id: { type: string, format: uuid, nullable: true }
        phone: { type: string }
        sla_deadline: { type: string, format: date-time }
        status:
          type: string
          enum: [open, done, overdue]

    # ---------- Админ ----------
    Organization:
      type: object
      properties:
        id: { type: string, format: uuid, readOnly: true }
        name: { type: string }
        inn: { type: string }
        is_vat_payer: { type: boolean }
        vat_rate: { type: number, nullable: true }
        contract_type:
          type: string
          enum: [subscription, one_off]
        status:
          type: string
          enum: [active, suspended, terminated]
        escalation_phone: { type: string }

    Contract:
      type: object
      properties:
        id: { type: string, format: uuid, readOnly: true }
        organization_id: { type: string, format: uuid }
        price_list_release_id:
          type: string
          format: uuid
          readOnly: true
          description: Релиз, зафиксированный на дату подписания/продления
        term_type:
          type: string
          enum: [yearly, monthly]
          x-russian-label:
            yearly: 'Годовой (цены заморожены на год)'
            monthly: 'Месячный (авто-продление, перевод на текущий релиз)'
        signed_at: { type: string, format: date }
        renews_at: { type: string, format: date }
        subscription_fee_tiyin: { type: integer, format: int64 }
        carryover_pct:
          type: number
          description: Перенос остатка абонентки (0 = нет)
        coeff_overrides:
          type: object
          description: Переопределения глобальных коэффициентов (подписка, B2B)
          additionalProperties: { type: number }

    PriceRelease:
      type: object
      properties:
        id: { type: string, format: uuid }
        number: { type: integer }
        status:
          type: string
          enum: [draft, scheduled, active, archive]
          x-russian-label:
            draft: 'Черновик'
            scheduled: 'Запланирован'
            active: 'Активен'
            archive: 'Архив'
        comment: { type: string }
        author_id: { type: string, format: uuid }
        is_initial: { type: boolean, description: 'Стартовый релиз №1' }
        activates_at: { type: string, format: date, nullable: true }
        items_count: { type: integer }
        global_coefficients:
          type: object
          description: Снапшот глобальных коэффициентов релиза
          properties:
            b2b_oneoff_markup: { type: number, example: 1.3 }
            subscription_coeff: { type: number, example: 0.8 }
            emergency_markup: { type: number }
            night_markup: { type: number }
            urgent_markup: { type: number, example: 1.3 }
            master_share: { type: number, example: 0.55 }
            min_check_tiyin: { type: integer, format: int64 }
            visit_fee_tiyin: { type: integer, format: int64 }

    Lead:
      type: object
      properties:
        id: { type: string, format: uuid }
        kind:
          type: string
          enum: [b2b, b2c]
        phone: { type: string }
        name: { type: string }
        org_name: { type: string, nullable: true }
        object_type: { type: string, nullable: true }
        status:
          type: string
          enum: [new, in_progress, converted, lost, waiting_coverage]
          x-russian-label:
            new: 'Новый'
            in_progress: 'В работе'
            converted: 'Конвертирован'
            lost: 'Потерян'
            waiting_coverage: 'Ждёт покрытия (вне зоны)'
        utm_source: { type: string, nullable: true }
        utm_medium: { type: string, nullable: true }
        utm_campaign: { type: string, nullable: true }
        utm_term: { type: string, nullable: true }
        utm_content: { type: string, nullable: true }
        calc_snapshot:
          type: object
          description: Снапшот калькулятора абонентки (тип объекта, площадь и т.п.)
          additionalProperties: true
        created_at: { type: string, format: date-time }

    LeadCreate:
      type: object
      required: [kind, phone]
      properties:
        kind:
          type: string
          enum: [b2b, b2c]
        phone: { type: string, pattern: '^\+998\d{9}$' }
        name: { type: string }
        org_name: { type: string }
        object_type: { type: string }
        comment: { type: string }
        utm_source: { type: string }
        utm_medium: { type: string }
        utm_campaign: { type: string }
        utm_term: { type: string }
        utm_content: { type: string }
        calc_snapshot:
          type: object
          additionalProperties: true

    LoyaltyProgram:
      type: object
      properties:
        default_accrual_pct:
          type: number
          example: 1.0
          description: Процент от суммы работ заявки заявителя (1 балл = 1 сум)
        monthly_cap_points: { type: integer, format: int64 }
        conversion_threshold_points: { type: integer, format: int64 }
        post_disable_conversion_days: { type: integer, example: 60 }

    Voucher:
      type: object
      properties:
        id: { type: string, format: uuid }
        pool_id: { type: string, format: uuid }
        partner: { type: string, example: 'Korzinka' }
        nominal_tiyin: { type: integer, format: int64 }
        code: { type: string }
        status:
          type: string
          enum: [free, issued, redeemed, expired]
          x-russian-label:
            free: 'Свободен'
            issued: 'Выдан'
            redeemed: 'Погашен'
            expired: 'Истёк'
        expires_at: { type: string, format: date }
        issued_to_account_id: { type: string, format: uuid, nullable: true }

    PayoutRegistry:
      type: object
      properties:
        id: { type: string, format: uuid }
        period_start: { type: string, format: date }
        period_end: { type: string, format: date }
        status:
          type: string
          enum: [draft, exported, paid]
        total_income_tiyin: { type: integer, format: int64 }
        total_reimbursement_tiyin: { type: integer, format: int64 }
        total_withholding_tiyin: { type: integer, format: int64 }
        lines_count: { type: integer }
        bank_export_url: { type: string, format: uri, nullable: true }

    # ---------- Биллинг ----------
    Invoice:
      type: object
      properties:
        id: { type: string, format: uuid }
        number: { type: string, example: 'INV-2026-000045' }
        organization_id: { type: string, format: uuid }
        kind:
          type: string
          enum: [subscription, overlimit, one_off]
          x-russian-label:
            subscription: 'Абонентка'
            overlimit: 'Сверхлимит + материалы'
            one_off: 'Разовая'
        period_start: { type: string, format: date }
        period_end: { type: string, format: date }
        total_tiyin: { type: integer, format: int64 }
        vat_tiyin:
          type: integer
          format: int64
          description: Выделенный НДС (0 для неплательщиков)
        status:
          type: string
          enum: [draft, sent, paid, overdue]
        edo_ref: { type: string, nullable: true }
        pdf_url: { type: string, format: uri, nullable: true }
        lines:
          type: array
          items:
            type: object
            properties:
              order_id: { type: string, format: uuid, nullable: true }
              description: { type: string }
              amount_tiyin: { type: integer, format: int64 }
              vat_tiyin: { type: integer, format: int64 }

    Transaction:
      type: object
      description: Проводка двойной записи (read-only через API)
      properties:
        id: { type: string, format: uuid }
        operation_id:
          type: string
          format: uuid
          description: Группа проводок одной операции (Σ дебетов = Σ кредитов)
        type: { type: string, example: 'subscription_writeoff' }
        debit_account: { type: string, example: 'subscription_advances' }
        credit_account: { type: string, example: 'revenue_works' }
        amount_tiyin: { type: integer, format: int64 }
        order_id: { type: string, format: uuid, nullable: true }
        invoice_id: { type: string, format: uuid, nullable: true }
        is_storno: { type: boolean }
        reversed_tx_id: { type: string, format: uuid, nullable: true }
        created_at: { type: string, format: date-time }

    PaymentWebhook:
      type: object
      description: >
        Обобщённое тело вебхука провайдера (конкретные поля — по протоколу
        Payme/Click; адаптер PaymentProvider.parseWebhook нормализует).
      properties:
        payment_id: { type: string }
        method: { type: string }
        amount_tiyin: { type: integer, format: int64 }
        order_ref: { type: string }
        state: { type: string }
        signature: { type: string }

    # ---------- Публичное ----------
    WebCard:
      type: object
      properties:
        order_number: { type: string }
        status:
          $ref: '#/components/schemas/OrderStatus'
        status_label_ru: { type: string, example: 'Мастер выехал' }
        master:
          type: object
          nullable: true
          properties:
            full_name: { type: string }
            photo_url: { type: string, format: uri }
            rating: { type: number }
        eta: { type: string, format: date-time, nullable: true }
        pending_quote:
          allOf:
            - $ref: '#/components/schemas/Quote'
          nullable: true
        act:
          type: object
          nullable: true
          description: Акт по закрытой заявке
          properties:
            total_work_tiyin: { type: integer, format: int64 }
            total_material_tiyin: { type: integer, format: int64 }
            photos_before:
              type: array
              items: { type: string, format: uri }
            photos_after:
              type: array
              items: { type: string, format: uri }
        can_rate: { type: boolean, description: 'Окно оценки 72 ч открыто' }
        archived: { type: boolean, description: 'Заявка закрыта/отменена — без действий' }

# ============================================================
# СОБЫТИЯ (informative, не проверяется валидатором)
# ============================================================
x-events:
  description: >
    Доменные события внутренней шины (PRD-05). Внешних подписчиков в MVP нет;
    вебхуки наружу — только входящие (платёжные провайдеры). Приведены для
    синхронизации команд: каждый успешный переход статусной машины публикует
    order.status_changed и специализированное событие.
  published:
    - order.created
    - order.status_changed   # {type, from, to, actor, reason}
    - order.addwork_requested
    - order.replacement_required
    - defect.created
    - defect.approved
    - offer.accepted
    - slot.freed
    - lane.changed
    - billing.transaction_posted
    - invoice.issued
    - invoice.paid
    - subscription.charged
    - subscription.exhausted
    - payment.confirmed
    - payment.refunded
    - pricelist.release_activated   # {release_id, activated_at} — не порождает пересчётов
    - contract.renewed
    - loyalty.points_accrued
    - loyalty.voucher_issued
    - webcard.estimate_approved
  consumed_webhooks:
    - POST /billing/webhooks/payme
    - POST /billing/webhooks/click
